snippet e
	assert.equal(${1}, ${0});
snippet ex
	assert.expect(${0});
snippet ok
	assert.ok(${1:true}, '${2}');
snippet de
	assert.deepEqual(${1}, ${2}, '${3}');
snippet th
	assert.throws(${1:function}, ${2:error}, '${0:message}');

