snippet component
	export default Ember.Component.extend({

		${1}
	});
snippet route
	export default Ember.Route.extend({

		${1}
	});
snippet view
	export default Ember.View.extend({
		
		${1}
	});
snippet oc
	export default Ember.ObjectController.extend({

		${1}
	});
snippet ac
	export default Ember.ArrayController.extend({
	
		${1}
	});
