snippet visit
	visit("${0:UrlOrRoute}");
snippet click
	click("${0:selector}");
snippet fill
	fillIn("${1:selector}", "${2:value}");
snippet trigger
	triggerEvent("${1:selector}", "${2:eventName}");
snippet at
	andThen(function () {
		${0}
	});
