snippet if
	{{#if ${1}}}
		${0}
	{{/if}}
snippet unless
	{{#unless ${1}}}
		${0}
	{{/unless}}
snippet each
	{{#each ${1}}}
		${0}
	{{/each}}
snippet eachin
	{{#each ${1} in ${2}}}
		${0}
	{{/each}}
snippet linkto
	{{#link-to ${1}}}${0}{{/link-to}}
