snippet html
	<!DOCTYPE HTML>
	<html>
	<head>
		<title>${1}</title>
	</head>
	<body>
		${2}
	</body>
	</html>
snippet script
	<script src="${1}"></script>
snippet link
	<link rel="${1:stylesheet}" type="${2:text/css}" href="${3}" />
snippet div
	<div>${1}</div>
snippet p
	<p>${1}</p>
