snippet f
	function (${1}) {
		${2}
	};
snippet fn
	function ${1:name}(${2}) {
		${3}
	};
snippet fa
	function (${2}) {
		${3}
	}${1}
snippet f:
	${1:name}: function (${3}) {
		${4}
	}${2:,}
snippet if
	if (${1}) {
		${2}
	}
snippet /**
	/**
		${1}
	*/
snippet clog
	console.log("${1}"${2});
snippet dp
	Object.defineProperty(${1:object}, '${2:property}', {
		get: function () {
			${3}
		},

		set: function () {
			${4}
		}
	});
snippet sett
	setTimeout( function (${1}) {
		${2}
	});
