snippet d
	describe('${1}', function() {
		${2}
	});
snippet c
	context('${1}', function() {
		${2}
	});
snippet it
	it('${1}', function() {
		expect('assertions exist').to.eql(true);
	});
snippet be
	beforeEach( function() {
		${1}
	});
snippet ae
	afterEach( function() {
		${1}
	});
