snippet d
	describe "${1}" do
		${0}
	end
snippet c
	context "${1}" do
		${0}
	end
snippet it
	it "${1}" do
		${0:expect("implemented").to be true}
	end
snippet b
	before do
		${0}
	end
snippet l
	let(:${1}) { ${0} }
snippet lb
	let!(:${1}) { ${0} }
snippet s
	subject { ${0} }
snippet a
	after do
		${0}
	end
snippet e
	expect(${1}).${2:to}
snippet eb
	expect{${1}}.${0:to}
snippet ch
	change{${1}}
