snippet aug
	augroup ${1:group}
		autocmd!
		${0}
	augroup end
snippet	au
	autocmd ${1:EventNames} ${2:file_pattern} ${0}
snippet fs
	function s:${1:name}()
		${0}
	endfunction
snippet if
	if ${1}
		${0}
	endif
